  <h2>管理者様</h2>
　<p>
　  新規ユーザー登録がありました。<br>
　  管理画面からリクエスト情報の確認、<br>
　  対応をお願い致します。
　</p>

  <p>今後とも Beloved_bikes をよろしくお願いいたします。</p>
  <p>Beloved_bikes運営局</p>

  <p>管理者ログインページへ遷移</p>
  <span><%= @url %></span>