  <h2><%= @user.nickname %> 様</h2>
　<p>申し込みが拒否されました。<br>
  登録情報に誤りがありますので、<br>
  ご確認の上、再度のお申し込みをお願い致します。</p>


  <p>今後とも Beloved_bikes をよろしくお願いいたします。</p>
  <p>Beloved_bikes運営局</p>
  <span><%= @url %></span>