<div class="mt-5">
  <div class="text-center">
    <h1>~Thank you~</h1>
    <h1>ご予約リクエストを承りました</h1>
    <h1>オーナー様の返答をお待ちください。</h1>

    <h4>予約が確定しましたら、メッセージで</h4>
    <h4>レンタル日の詳細を決めましょう</h4>
  </div>
</div>