<div class="d-block mx-auto" style="position: relative; display:inline-block;">
<img class="d-block mx-auto" src="http://gahag.net/img/201511/19s/gahag-0027232771-1.jpg" alt="aboutimg">
<div style="position: absolute; top: 200px; left: 350px; max-width: 100%; max-height: 100%; padding: 30px; text-align: left;">
  <h4 class="d-block mx-auto bg-light">
    Beloved_bikesについて！<br>
    このサイトは、バイクのシェアサービスを<br>
    自由にライダー同士が繋がるアプリです<br>
    会員でない方も閲覧はできますが、<br>
    ご予約には会員登録が必要になります。
  </h4>
</div></div>


<!--<div class="fixed-background background2">-->
<!--  <div class="row">-->
<!--    <div class="mx-auto" >-->
<!--      <h4>Beloved_bikesについて！<br>-->
<!--        このサイトは、バイクのシェアサービスを<br>-->
<!--        もっと自由に、ライダー同士が繋がるアプリです<br>-->
<!--        会員でない方も閲覧はできますが、<br>-->
<!--        ご予約には会員登録が必要になります。-->
<!--      </h4>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
