<div class="container col-xs-12 col-sm-12 col-md-10 mt-5">
  <div class="text-center">
    <h1>~Thank you~</h1>
    <h1>新規登録のリクエストを承りました</h1>
    <h1>審査が完了するまでしばらくお待ちください。</h1>

    <h4>審査が完了致しましたら、メールでお知らせします。</h4>
    <h4>予約はできませんが、登録前でも出展中のバイクをみることは可能です。</h4>
    <h4 class="text-danger">  ※審査には通常１営業日ほどお時間かかります。</h4>
    <div class="row hoge m-5">
      <%= link_to '出展中のバイクをみる', bikes_path,  class: "btn btn-outline-info" %>
    </div>
  </div>
</div>