<div class="top_img">
  <img src="http://gahag.net/img/201511/19s/gahag-0027232771-1.jpg">
</div>
<div class='row'>
  <div class="mx-auto" >
    <h4>ようこそBeloved_bikesへ！<br>
      このサイトは、バイクのシェアサービスを<br>
      もっと自由に、ライダー同士が繋がるアプリです<br>
      会員でない方も閲覧はできますが、<br>
      ご予約には会員登録が必要になります。
    </h4>
  </div>
</div>
