<div class="top">
  <div class="top-image-box"><img class="top-image" src="https://publicdomainq.net/images/201902/03s/publicdomainq-0031056alg.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="https://publicdomainq.net/images/201712/13s/publicdomainq-0016699sin.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="http://gahag.net/img/201604/10s/gahag-0074514677-1.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="https://lh3.googleusercontent.com/proxy/U3oMKp8nB6e44w5qE3-EtV5DYpYd0bo48qK_5oTVN9DdZxsnWybJA-glsTlXfeDXCHHqzn0xFsI8epD2vGDqvSIR3fhvsaAX0Q4i1FTFhQlpoU_f9pQzqpHPixYW=s0-d"></div>
</div>
<div class='row'>
  <div class="mx-auto" >
    <h4>ようこそBeloved_bikesへ！<br>
      このサイトは、バイクのシェアサービスを<br>
      もっと自由に、ライダー同士が繋がるアプリです<br>
      会員でない方も閲覧はできますが、<br>
      ご予約には会員登録が必要になります。
    </h4>
  </div>
</div>
