<div id="loading">
  <span id="loading-img"><%= image_tag 'logo.png', :size => '200x80' %></span>
  <div class="animation">Now Loading...</div>
</div>

<div class="top col-12">
  <div class="top-image-box"><img class="top-image" src="https://publicdomainq.net/images/201902/03s/publicdomainq-0031056alg.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="https://publicdomainq.net/images/201712/13s/publicdomainq-0016699sin.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="http://gahag.net/img/201604/10s/gahag-0074514677-1.jpg"></div>
  <div class="top-image-box"><img class="top-image" src="https://lh3.googleusercontent.com/proxy/U3oMKp8nB6e44w5qE3-EtV5DYpYd0bo48qK_5oTVN9DdZxsnWybJA-glsTlXfeDXCHHqzn0xFsI8epD2vGDqvSIR3fhvsaAX0Q4i1FTFhQlpoU_f9pQzqpHPixYW=s0-d"></div>
</div>
<div class="container">
  <div class='row hoge'>
    <div class="mt-3" >
      <h4>
        ようこそ！このサイトは<br>
        シェアサービスを通じて<br>
        バイクをもっと自由に、<br>
        ライダーの交流を広げるサイトです<br>
        ご利用には会員登録が必要になります。
      </h4>
    </div>
  </div>
  <div class='row'>
    <div class="mt-3 col-12">
      <%= link_to '新規登録', new_user_registration_path,  class: "btn btn-lg btn-outline-dark form-control" %>
    </div>
  </div>
  <div class='row'>
    <div class="mt-3 col-12">
      <%= link_to 'ログイン', new_user_session_path,  class: "btn btn-lg btn-outline-dark form-control" %>
    </div>
  </div>

</div>
