/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require trix
 */


@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


/*タブレット表示時*/
@media (max-width: 992px) {
  p {
   font-size: 25px;
 }
}

/*スマホ表示時*/
@media (max-width: 568px) {
  p {
   font-size: 20px;
 }
 
 .top-image {
    height: 200px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    object-fit: cover;
  }
  
  .bike-image {
    height: 300px;
    width: 400px;
  }
  
}


.row.hoge {
  display: flex;
  justify-content: center;
}

.row.left {
  display: flex;
  justify-content: start;
}

.row.right {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler {
  border-color: #ffffff;
  background-color: #000000;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}






.under {
   background: linear-gradient(transparent 80%, #a8eaff 70%)
}

.heading08 {
	font-size: 26px;
}

.heading08 span {
	display: flex;
	align-items: center;
	color: #498ee0;
	font-size: 18px;
	text-transform: uppercase;
}

.heading08 span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 40px;
	height: 1px;
	background-color: #498ee0;
}

.fixed-background {
  padding-top: 65px;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-pozition: center;
  text-shadow: 0 2px 10px #CCCCCC;
}

.background1 {
  background-image: image-url("background1.jpeg");
}

.background2 {
  background-image: image-url("http://gahag.net/img/201511/19s/gahag-0027232771-1.jpg");
}

.navbar-item {
  padding-right: 10px;
}


#loader-bg {
  background-color: #fff;
  height: 200px;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 10000;
}


// loading画面
#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #D9E5FF;
  z-index: 10000;
}

#loading-img {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.animation {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
  -webkit-animation: loadinganimation 1500ms ease-out forwards infinite;
  animation: loadinganimation 1500ms ease-out forwards infinite;
}
@keyframes loadinganimation {
  from,to {
		opacity: 0;
  }
  50% {
		opacity: .5;
  }
}




.top-image {
  height: 500px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  object-fit: cover;
}

.bike-image {
  height: 400px;
  width: 500px;
}




.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}


.card {
  background-color:transparent;
}


a {
  color: #666666;
}

a:hover {
  text-decoration: none;
}


.bike_img img:hover {
  transform: scale(1.1) rotate(-9deg);
  transition-duration: 0.5s;
}
.bike_img img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}

.border {
  width: 80%;
  height: auto;
  margin: auto;
  border-left: 2px solid #4689FF;
  border-right: 2px solid #D9E5FF;
}
.border::before,
.border::after{
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, #4689FF 0%, #D9E5FF 100%);
}

.impressions {
  background-color: #FF97C2;
  float: right;
}

.footer {
  font-family: 'IM Fell DW Pica SC', serif;
  margin: 7px 0;
}

.created_at {
  font-size: 2px;
}

.head {
  background-color: rgba(255, 255, 255, 0.6);
}

.mychat {
  background-color: #CBFFD3;
}

.yourchat {
  background-color: #EEEEEE;
}

.message {
  width: 60vh;
  white-space: pre-wrap;
}




body {
  background-image: image-url("hoge.jpg"); //image-urlはデプロイ対策で必ずつける
}
