/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */


@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


.row.hoge{
  display: flex;
  justify-content: center;
}

.under {
   background: linear-gradient(transparent 80%, #a8eaff 70%)
}

.heading08 {
	font-size: 26px;
}

.heading08 span {
	display: flex;
	align-items: center;
	color: #498ee0;
	font-size: 18px;
	text-transform: uppercase;
}

.heading08 span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 40px;
	height: 1px;
	background-color: #498ee0;
}

.fixed-background {
  padding-top: 65px;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-pozition: center;
  text-shadow: 0 2px 10px #CCCCCC;
}

.background1 {
  background-image: image-url("background1.jpeg");
}

.background2 {
  background-image: image-url("http://gahag.net/img/201511/19s/gahag-0027232771-1.jpg");
}

.navbar-item {
  padding-right: 10px;
}


.top-image {
  height: 500px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.bike-image {
  height: 400px;
  width: 500px;
}



.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}


.card {
  background-color:transparent;
}


a {
  color: #666666;
}

a:hover {
  text-decoration: none;
}


.bike_img img:hover {
  transform: scale(1.1) rotate(-9deg);
  transition-duration: 0.5s;
}
.bike_img img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}

.border {
  width: 80%;
  height: auto;
  margin: auto;
  border-left: 2px solid #4689FF;
  border-right: 2px solid #D9E5FF;
}
.border::before,
.border::after{
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, #4689FF 0%, #D9E5FF 100%);
}

.impressions {
  background-color: #FF97C2;
  float: right;
}

.footer {
  font-family: 'IM Fell DW Pica SC', serif;
  margin: 7px 0;
}

.created_at {
  font-size: 2px;
}

.mychat {
  background-color: #CBFFD3;
}

.yourchat {
  background-color: #EEEEEE;
  position: relative;
  right: auto;
}


body {
  background-image: image-url("hoge.jpg"); //image-urlはデプロイ対策で必ずつける
}
